#carouselContainer {
    margin: 0 auto;
    padding: 2em 0 1em 0;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

#carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
}

.carouselItem {
    min-width: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
}

@media only screen and (max-width: 600px) {
    #carouselContainer {
        height: 20em;
    }

    #carousel {
        height: 90%;
    }

    #carouselDots {
        margin-top: 0.8em;
    }

    .carouselDot {
        height: 20px;
        width: 20px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 0.5em;
    }
}

@media only screen and (min-width: 600px) {
    #carouselContainer {
        height: 30em;
        width: 100%;
    }

    #carousel {
        height: 90%;
    }

    #carouselDots {
        margin: 1.5em 0 0 0;
    }

    .carouselDot {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 0.3em;
    }
}

@media only screen and (min-width: 1200px) {
    #carouselContainer {
        height: 40em;
        width: 90%;
    }

    #carousel {
        height: 90%;
    }

    #carouselDots {
        margin-top: 2em;
    }

    .carouselDot {
        height: 15px;
        width: 15px;
        border-radius: 50%;
        display: inline-block;
        margin: 0 0.2em;
    }
}