#content {
    min-height: 30vh;
}

.galleryImage {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5em;
    width: 30%;
    height: auto;
    border-radius: 10px;
    border: 2px solid #CECECE;
    padding: 1em;
}

#contactDiv {
    margin: 0 auto;
    border-radius: 20px;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
}

#contactForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#contactForm input {
    width: 30%;
    padding: 0.4em;
}

#contactForm textarea {
    width: 40%;
    padding: 1em;
}

.submitButton {
    margin-top: 1em;
}

.formInputDiv {
    width: 100%;
}

#selectedImageContainer {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 600;
}

#selectedImage {
    padding: 1em;
    background-color: #CECECE;
    border-radius: 20px;
}

#largeImage {
    max-width: 80vw;
    max-height: 80vh;
    width: auto;
    height: auto;
}

#closeIcon {
    position: relative;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#closeIconHeader {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1em;
}

.infoDiv {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.showDiv {
    margin: 1em auto;
    padding: 1em 1em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.showDiv p {
    padding: 0;
    margin: 0;
}

.showDivWith {
    width: 100%;
    display: flex;
}

.showDivWith p {
    color: #4b4b4b;
}

.pageHeader {
    width: fit-content;
    min-width: fit-content;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    z-index: 10;
}

.releaseWrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 0 auto 2em auto;
    padding: 1em 1em;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 20px;
}

.releaseWrapper img {
    border-radius: 10px;
}

.releaseHeader {
    display: flex;
}

.releaseWrapper img {
    width: 10em;
    height: auto;
}

.releaseLeft {
    width: fit-content;
}

.releaseRight {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: 2em;
}

.releaseRight p {
    margin: 0;
    line-height: 1.4em;
    text-align: left;
}

.releaseRightTop {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.releaseRightTop h2 {
    display: inline;
    padding-top: 0.2em;
}

.releaseDetails {
    margin: 1em 0;
    background-color: #1E1E1E;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.releaseDetails hr {
    width: 100%;
    margin: 0;
}

.releaseTrack {
    display: flex;
    justify-content: space-between;
    padding: 0.3em 1em;
    cursor: pointer;
    transition: 0.4s;
    background-color: #1E1E1E;
    width: 100%;
    border-radius: 10px;
}

.releaseTrack:hover {
    background-color: #424242;
}

.trackLyrics {
    max-height: 0;
    width: 100%;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #2b2b2b;
}

.singleLyrics {
    border-radius: 10px;
}

.trackLyrics p {
    margin: 1em auto;
    color: #E2E2E2;
    line-height: 1.5em;
    width: 50%;
}

@media only screen and (max-width: 600px) {
    #content {
        width: 100%;
        margin-top: -3.5em;
        padding: 1em;
    }

    .pageHeader {
        padding: 0 1em;
        margin: 3em auto;
    }

    .infoDiv {
        width: 100%;
        margin: 0 auto 1em auto;
        padding: 2em 1em 0 1em;
    }

    #mainInfo {
        padding: 0;
        margin: 1em auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .photoDiv {
        width: 100%;
        height: auto;
    }

    .photoDiv img {
        width: 100%;
        height: 100%;
    }

    #contactForm input {
        width: 90%;
        padding: 0.4em;
    }
    
    #contactForm textarea {
        width: 90%;
        padding: 1em;
    }

    .showDivMain {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .showDiv {
        width: 100%;
    }

    .showDivWith {
        justify-content: center;
    }

    .galleryImage {
        max-width: 100%;
        width: 100%;
        height: fit-content;
        margin: 0.5em;
        padding: 1em;
    }

    #imageGallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        padding: 0;
    }
    
    #imageGallery img {
        max-width: 80vw;
        height: auto;
        cursor: pointer;
    }

    #selectedImageContainer {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        z-index: 600;
    }

    .releaseHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .releaseLeft {
        padding: 0;
        margin: 1em 0 2em 0;
    }

    .releaseRight {
        padding: 0;
        margin: 0;
    }

    .releaseRightTop {
        flex-direction: column;
    }

    .trackLyrics p {
        width: 90%;
    }

    #flailLogo {
        margin-top: 2em;
        width: 80%;
        height: auto;
    }

}

@media only screen and (min-width: 600px) and (max-height: 400px) {
    #mainInfo {
        padding: 0;
        margin: 1em auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .infoDiv {
        width: 100%;
        margin: 0 auto 1em auto;
    }
}

@media only screen and (min-width: 600px) {
    #content {
        width: 80%;
        margin: -5em auto 0 auto;
        text-align: center;
    }

    #mainInfo {
        margin: 3em auto;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }

    .photoDiv {
        width: 100%;
        height: auto;
    }

    .photoDiv img {
        width: 100%;
        height: 100%;
    }

    .infoDiv {
        padding: 2em 1em 0 1em;
        margin: 0 0 2em 0;
    }

    #contactForm input {
        width: 80%;
        padding: 0.4em;
    }
    
    #contactForm textarea {
        width: 80%;
        padding: 1em;
    }

    .pageHeader {
        padding: 1em 3em;
        margin: 1em auto 2em auto;
    }

    .showDiv {
        width: 100%;
    }

    .showDivMain {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .showDivWith {
        display: flex;
        justify-content: center;
    }

    .showDivMain {
        display: flex;
        justify-content: space-between;
    }

    .paragraphDiv {
        width: 80%;
        margin: 0 auto;
        padding: 2em 2em;
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 20px;
    }

    #imageGallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
        padding: 1em 1em;
    }
    
    #imageGallery img {
        max-width: 100%;
        height: auto;
        cursor: pointer;
    }

    #flailLogo {
        margin-top: 2em;
        width: 17em;
        height: auto;
    }
}

@media only screen and (min-width: 750px) {
    .photoDiv {
        width: 75%;
        height: auto;
        margin: 0 auto;
    }
}

@media only screen and (min-width: 900px) {
    #contactForm input {
        width: 60%;
        padding: 0.4em;
    }
    
    #contactForm textarea {
        width: 60%;
        padding: 1em;
    }

    .photoDiv {
        width: 60%;
        height: auto;
        margin: 0 auto;
    }

    .photoDiv img {
        width: 100%;
        height: 100%;
    }

    .infoDiv {
        margin: 0 auto 2em auto;
        width: 85%;
    }

    .showDivMain {
        flex-direction: row;
        justify-content: space-between;
    }

    .showDivWith {
        justify-content: start;
    }
}

@media only screen and (min-width: 1200px) {
    #contactForm input {
        width: 30%;
        padding: 0.4em;
    }
    
    #contactForm textarea {
        width: 40%;
        padding: 1em;
    }

    #mainInfo {
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .infoDiv {
        width: 50%;
        margin: 0 3% 0 0;
    }

    .photoDiv {
        margin: 0 0 0 3%;
        width: 40%;
    }

    .photoDiv img {
        width: 100%;
        height: 100%;
    }

    .showDiv {
        width: 90%;
    }

    #flailLogo {
        margin-top: 2em;
        width: 20em;
        height: auto;
    }
}

@media only screen and (min-width: 1400px) {
    .infoDiv {
        width: 40%;
        margin: 0 3% 0 0;
    }

    .photoDiv {
        margin: 0 0 0 3%;
        width: 37%;
    }

    .photoDiv img {
        width: 100%;
        height: 100%;
    }

    .showDiv {
        width: 70%;
    }
}

@media only screen and (min-width: 1650px) {

    .infoDiv {
        width: 33%;
    }

    .photoDiv {
        margin: 0 0 0 3%;
        width: 33%;
    }

    .photoDiv img {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-width: 600px) and (max-height: 400px) {
    #content {
        width: 80%;
        margin: -7em auto 0 auto;
        text-align: center;
    }
}