#page .page-header {
    position: absolute;
    top: 9em;
    left: 0;
    right: 0;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1em 1em;
    border-radius: 10px;
    z-index: 10;
}

#page .animation-left {
    position: absolute;
    background-image: url("../assets/images/hill-left-mobile.png");
    background-size: 100vh auto;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    z-index: 1;
    top: 0;
}

#page .animation-right {
    position: absolute;
    background-image: url("../assets/images/hill-right-mobile.png");
    background-size: 100vh auto;
    background-position: center top;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    z-index: 2;
    top: 0;
}

#page .animation-center {
    position: absolute;
    background-image: url("../assets/images/foreground-trees-mobile.png");
    background-size: 75vh auto;
    background-position: center bottom;
    background-repeat: no-repeat;
    height: 30vh;
    width: 100%;
    z-index: 3;
    top: 20vh;
}

#page .slide-left-enter {
    transform: translate(0, 700px);
    z-index: 1;
}
#page .slide-left-enter.slide-left-enter-active {
    transform: translate(0, 0);
    transition: transform 1500ms ease;
}

#page .slide-right-enter {
    transform: translate(0, 1000px);
    z-index: 1;
}
#page .slide-right-enter.slide-right-enter-active {
    transform: translate(0, 0);
    transition: transform 1500ms ease;
}

#page .slide-center-enter {
    transform: translate(0, 1500px);
    z-index: 3;
}
#page .slide-center-enter.slide-center-enter-active {
    transform: translate(0, 0);
    transition: transform 1500ms ease;
}

#page .slide-content-enter {
    transform: translate(0, 1500px);
    z-index: 4;
}
#page .slide-content-enter.slide-content-enter-active {
    transform: translate(0, 0);
    transition: transform 1500ms ease;
}

#page .fade-appear {
    opacity: 0;
    z-index: 10;
}

#page .fade-appear.fade-appear-active {
    opacity: 1;
    transition: opacity 1000ms linear;
}

#page .fade-enter {
    opacity: 0;
    z-index: 10;
}

#page .fade-enter.fade-enter-active {
    opacity: 1;
    transition: opacity 1000ms linear 1000ms;
}

@media only screen and (orientation: landscape) {
    #page .page-header {
        width: 40%;
    }

    #page .animation-right {
        background-size: auto 100vw;
        top: -10vh;
    }

    #page .animation-left {
        background-size: auto 100vw;
        top: -10vh;
    }
    
    #page .animation-center {
        background-size: 100vw;
        height: 60vh;
        top: 20vh;
    }

    #page .content {
        background-size: 100%;
        top: 80vh;
    }
}