@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@600&display=swap");

* {
  box-sizing: border-box;
}

h1 {
  font-size: 1.5em;
  margin: 0;
  font-family: 'Saira Condensed', sans-serif;
}

h2 {
  font-size: 2em;
  margin: 0;
  font-family: 'Saira Condensed', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

.wrapper {
  background-image: url("assets/images/background-mobile.png");
  background-position: center center;
  background-size: 100vh auto;
  height: 100vh;
  width: 100%;
  z-index: 0;
}

#header-mobile {
  position: relative;
  overflow: hidden;
  padding: 0.4em 1em;
  color: #E2E2E2;
  text-align: left;
  background-color: #1E1E1E;
  width: 100%;
  z-index: 999;
}

#header-mobile a:link, #header-mobile a:visited, #header-mobile a:hover, #header-mobile a:active {
  display: block;
  text-decoration: none;
  color: #E2E2E2;
}

#header-mobile a {
  color: #E2E2E2;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 1.5em;
}

#menu-button-mobile {
  display: block;
  position: absolute;
  right: 1.25em;
  top: 1em;
  width: 2.5em;
  height: 2.5em;
}

#menu-mobile {
  display: none;
}

.animation-left {
  position: absolute;
  background-image: url("assets/images/hill-left-mobile.png");
  background-size: 100vh auto;
  background-position: center top;
  background-repeat: no-repeat;
  animation-name: anim1;
  animation-duration: 1.5s;
  height: 100vh;
  width: 100%;
  z-index: 1;
  top: 0;
}

.animation-right {
  position: absolute;
  background-image: url("assets/images/hill-right-mobile.png");
  background-size: 100vh auto;
  background-position: center top;
  background-repeat: no-repeat;
  animation-name: anim2;
  animation-duration: 1.5s;
  height: 100vh;
  width: 100%;
  z-index: 2;
  top: 0;
}

.animation-center {
  position: absolute;
  background-image: url("assets/images/foreground-trees-mobile.png");
  background-size: 75vh auto;
  background-position: center bottom;
  background-repeat: no-repeat;
  animation-name: anim3;
  animation-duration: 1.5s;
  height: 30vh;
  width: 100%;
  z-index: 3;
  top: 20vh;
}

.content {
  padding-top: -100px;
  position: absolute;
  background-image: url("assets/images/foreground-tile-mobile.png");
  background-size: 75vh auto;
  background-position: center top;
  animation-name: anim4;
  animation-duration: 1.5s;
  top: 50vh;
  width: 100%;
  z-index: 4;
  color: #E2E2E2;
}