@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@600&display=swap");

@font-face {
  font-family: 'docktrin';
  src: url('./assets/fonts/docktrin.ttf');
}

* {
  box-sizing: border-box;
}

h1 {
  margin: 0;
  font-family: 'docktrin', sans-serif;
  margin-bottom: -0.4em;
}

h4 {
  font-size: 1.5em;
  margin: 0;
  font-family: 'Saira Condensed', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
}

#wrapper {
  background-image: url("assets/images/background-mobile.png");
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  z-index: 0;
}

#headerMobile {
  position: fixed;
  overflow: hidden;
  padding: 0.4em 1em;
  color: #E2E2E2;
  text-align: left;
  background-color: #1E1E1E;
  width: 100%;
  z-index: 998;
}

#headerMobile a:link, #headerMobile a:visited, #headerMobile a:hover, #headerMobile a:active,
#headerDesktop a:link, #headerDesktop a:visited, #headerDesktop a:hover, #headerDesktop a:active {
  display: block;
  text-decoration: none;
  color: #E2E2E2;
}

#headerMobile a {
  color: #E2E2E2;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 1.5em;
}

#headerDesktop {
  padding: 1em 1em;
  color: #E2E2E2;
  display: block;
  background-color: #1E1E1E;
  width: 100%;
  position: relative;
  z-index: 998;
}

#headerDesktopWrapper {
  z-index: 999;
  position: relative;
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 0 auto;
}

#headerDesktop a {
  color: #E2E2E2;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 1.5em;
}

#menuButtonMobile {
  display: block;
  position: absolute;
  right: 1.25em;
  top: 1em;
  width: 2.5em;
  height: 2.5em;
}

#menuMobile {
  display: none;
}

#menuMobile a {
  margin: 0.3em 0;
}

@media only screen and (max-width: 600px) {
  h1 {
    font-size: 4em;
    line-height: 1em;
  }
  #headerMobile {
    display: block;
  }
  #headerDesktop {
    display: none;
  }
}

@media only screen and (min-width: 600px) {
  h1 {
    font-size: 4em;
    line-height: 1em;
  }

  #headerMobile {
    display: none;
  }
  #headerDesktop {
    display: block;
  }
  html {
    overflow-y:scroll;
  }
  #headerDesktopWrapper {
    width: 100%
  }
}

@media only screen and (min-width: 900px) {
  h1 {
    font-size: 4em;
  }
  #headerDesktopWrapper {
    width: 60%
  }
}

@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 6em;
  }
}